body{
    margin: 0;
    padding: 0;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    .nav-bar > div{
        display: inline-block;
        padding: 40px;
    }
    .blog-section{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);        
        .post{
            padding: 20px;
            text-align: left;
            img{
                width: fit-content;
                max-width: 100%;
            }
        }
    }    
}
@media(max-width: 768px){
    #app .blog-section{
        grid-template-columns: repeat(1, 100%);
    } 
}
